.page-home {

.date {
  width: 50px; height: 45px;
  background: #fcfcfc;
  background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
  background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%);
  background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%);
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.date p {
  font-family: Helvetica, sans-serif;
  font-size: 20px; text-align: center; color: #9e9e9e;
}

.date p span {
  background: green;
  background: linear-gradient(top, green 0%, darkgreen 100%);
  background: -moz-linear-gradient(top, green 0%, darkgreen 100%);
  background: -webkit-linear-gradient(top, green 0%, darkgreen 100%);
  font-size: 10px; font-weight: bold; color: #fff; text-transform: uppercase;
  display: block;
  border-top: 3px solid darkgreen;
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  padding: 0px 0 6px 0;
}
  label.category{
    width:100%;
  }

  .info{
    margin: 5px 0 0 10px;
  }
}