/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
//$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #5baf2a !default;
//$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";



fab.button-fab-bottom-right{
  bottom: 60px;
}

.to-left{ float: left; }
.to-right{ float: right; }
.clear { clear: both; }

.ti-segmented-control a {
  text-transform: capitalize;
}

.button.button-outline.ti-segmented-control{
  padding: 5px 0;
  max-height: 36px !important;
}


