<ion-view view-title="Feed">

  <button id="fab" class="button button-balanced button-fab button-fab-bottom-right" style="bottom: 60px;">
    <i class="icon ion-plus"></i>
  </button>
  <!-- do you want padding? -->
  <ion-content class="padding">
    <ti-segmented-control on-select="segmentButtonClicked($index)" style="width: 100%;">
      <ti-segmented-control-button class="button-balanced" title="'Everything'"></ti-segmented-control-button>
      <ti-segmented-control-button class="button-balanced" title="'Mentioned'" selected></ti-segmented-control-button>
    </ti-segmented-control>

    <!-- content goes here -->
    <ion-list>
      <div class="list card" ng-repeat="post in feedItems.all" ng-if="selectedSegment == 'all'">

        <div class="item item-avatar">
          <img src="{{post.avatar}}">
          <h2>{{post.first_name + " " + post.last_name}}</h2>
          <!--<p>November 05, 1955</p>-->
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{post.image}}">
          <p>
            {{post.description}}
          </p>
          <p>
            <a href="#" class="subdued button button-clear button-positive">
              <i class="icon ion-thumbsup"></i> {{post.like_count}}</a>
            <a href="#" class="subdued button button-clear button-positive">
              <i class="icon ion-chatbubble"></i> {{post.comment_count}}</a>
            <a href="#" class="subdued button button-clear button-positive">
              <i class="icon ion-pricetags"></i> {{ post.comment_count }}</a>
          </p>
        </div>

      </div>

      <div class="list card" ng-repeat="post in feedItems.mentioned" ng-if="selectedSegment == 'mentioned'">

        <div class="item item-avatar">
          <img src="{{post.avatar}}">
          <h2>{{post.first_name + " " + post.last_name}}</h2>
          <!--<p>November 05, 1955</p>-->
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{post.image}}">
          <p>
            {{post.description}}
          </p>
          <p>
            <a href="#" class="subdued button button-clear button-positive">
              <i class="icon ion-thumbsup"></i> {{post.like_count}}</a>
            <a href="#" class="subdued button button-clear button-positive">
              <i class="icon ion-chatbubble"></i> {{post.comment_count}}</a>
            <a href="#" class="subdued button button-clear button-positive">
              <i class="icon ion-pricetags"></i> {{ post.comment_count }}</a>
          </p>
        </div>

      </div>
    </ion-list>

  </ion-content>
</ion-view>
