<ion-view view-title="Home" class="page-home">
  <div class="bar bar-subheader">
    <!--<div class="list">-->

      <label class="item item-input item-select category" style="width:100%;">
        <div class="input-label">
          Category
        </div>
        <select>
          <option>Engineering</option>
          <option selected>Marketing</option>
          <option>Sales</option>
        </select>
      </label>

    <!--</div>-->
  </div>

  <button id="fab" class="button button-balanced button-fab button-fab-bottom-right" style="bottom: 60px;">
    <i class="icon ion-plus"></i>
  </button>
  <!-- do you want padding? -->
  <ion-content class="has-subheader">

    <!-- content goes here -->
    <ion-list>
      <a class="item item-avatar" href="#" ng-repeat="shift in oldShifts">
        <img src="{{shift.avatar}}">
        <div class="detail">
          <div class="date to-left">
            <p>{{shift.start_date | date:"dd"}} <span>{{shift.start_date | date:"MMM"}}</span></p>
          </div>
          <div class="info to-left">
            <p>{{shift.start_date | date:"shortTime"}}  to {{ shift.end_date | date:"shortTime"}}</p>
            <h2>{{shift.category_name}}</h2>
          </div>
          <div class="clear"></div>
        </div>

      </a>
    </ion-list>

  </ion-content>
</ion-view>
