<ion-view view-title="main module">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
      <ion-item class="item item-divider">
        This is your Feed template!
      </ion-item>
      <ion-item class="item item-icon">
        Yeiiii!
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
