<ion-tabs class="tabs-icon-top ">

  <ion-tab title="Home" icon-off="ion-ios-home" icon-on="ion-ios-home-outline"
           ui-sref="main.home" badge="5" badge-style="badge-assertive">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Survey" icon-off="ion-ios-list" icon-on="ion-ios-list-outline"
           ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Chat" icon-off="ion-chatbox" icon-on="ion-chatbox-working"
           ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- List Tab -->
  <ion-tab title="Feed" icon-off="ion-ios-paper" icon-on="ion-ios-paper-outline"
    ui-sref="main.list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Debug Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person" icon-on="ion-ios-person-outline"
    ui-sref="main.debug">
    <ion-nav-view name="tab-debug"></ion-nav-view>
  </ion-tab>

</ion-tabs>
